@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$text-color: #fff;
$bg: #000;


$theme-colors: (

  "primary": #f0c929,
  "secondary": #fff,
  "dark": #000

);

$custom-colors: (

  "alex": #f46

);

$theme-colors: map-merge($theme-colors, $custom-colors);

$accordion-border-width: 6px;
$accordion-icon-active-color: $bg;